.card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: start;
  gap: var(--card-gap, 1rem);

  background-color: var(--card-background, #fff);
  box-shadow: 0 0.25rem 0.45rem -0.15rem rgba(0, 0, 0, 0.5);
}